* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
}

a {
    text-decoration: none;
}

.background {
    position: fixed;
    height: 100vh;
    z-index: -2;
}

canvas {
    position: fixed;
    z-index: -5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
}

// Variables
$font-color:#98c1d9;
$text-shadow: 3px 3px 6px rgb(83, 81, 81),
1px 2px 5px #000000,
-2px -4px 4px #000000,
-1px 5px 4px #000000;
//Mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin general-font {
    color: $font-color;
    text-transform: uppercase;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-weight: 300;
}

//header
.mobile-header {
    display: none;
}

header {
    @include flex-center;
    justify-content: space-evenly;
}

header img {
    width: 50%;
    padding: 20px;
    cursor: pointer;
}

li {
    padding: 10px;
    font-size: 1.2rem;
    @include general-font;
    text-align: center;
    list-style: url('images/dummy.png');
    background: url('images/underline.png');
    background-position: bottom;
    background-repeat: no-repeat;
    transition: ease-in-out, .4s;
    text-shadow: 3px 3px 6px #000000, 1px 2px 5px #000000, -2px -4px 4px #000000, -1px 5px 4px #000000;
}

.phone {
    list-style: url('images/iphone-icon.png');
}

.phone:hover {
    list-style: url('images/iphone\ dummy.png');
}

header li:hover {
    list-style: url('images/dimond.png');
    color: #b4d5e9;
    margin: 2px 0 0 0;
}

//main
.main-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 13% 40% 8%;
    height: 90vh;
}

.main-content h1 {
    @include general-font;
    padding: 30px 10px 10px 30px;
    text-shadow: 3px 3px 6px rgb(83, 81, 81), 1px 2px 5px #000000, -2px -4px 4px #000000, -1px 5px 4px #000000;
    background: url('images/underline-long.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9);
    grid-column: 1;
    grid-row: 1;
    margin-left: 10%;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.main-content p {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.1rem;
    width: 80%;
    justify-self: center;
    @include general-font;
    text-transform: none;
    padding: 30px 10px 10px 30px;
    text-shadow: 3px 3px 6px rgb(83, 81, 81), 1px 2px 5px #000000, -2px -4px 4px #000000, -1px 5px 4px #000000;
    color: rgb(255, 255, 255);
}

.devices {
    grid-row: 1/2;
    grid-column: 2;
    width: 100%;
    justify-self: start;
}

// Price section
.price-list {
    grid-row: 3;
    justify-self: center;
    grid-column: 1;
}

.price-list button {
    background: transparent;
    outline: none;
    border: none;
}

.price-button {
    list-style: url('images/dollar.png');
    padding: 10px;
    background: url('images/underline.png');
    background-position: bottom;
    background-repeat: space;
    font-size: 1.3rem;
    cursor: pointer;
}

.price-list .price-button:hover {
    background: url('images/button-hover.png');
    background-position: bottom;
    background-repeat: space;
    list-style: url('images/dimond.png');
    color: #b4d5e9;
    margin: 2px 0 0 0;
}

.price-chart {
    padding: 15px;
    @include flex-center;
}

.price {
    @include flex-center;
    flex-direction: column;
    background: linear-gradient( rgba(3, 3, 3, 0.527), rgba(17, 17, 17, 0.911));
    width: 25%;
    height: 65vh;
    margin: 15px;
    border: 3px solid #3d5a80;
    border-radius: 3px;
}

#price {
    display: none;
    animation: priceListAnimation 2s;
}

.price h2 {
    color: $font-color;
    text-transform: uppercase;
    text-align: center;
    background: url('images/underline.png');
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 10px;
}

h2 span {
    font-size: .6rem;
    text-transform: none;
}

.price h3 {
    color: $font-color;
    text-align: center;
    text-transform: none;
    font-size: 0.9rem;
    font-weight: 100;
    background: url('images/underline.png');
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 10px;
}

.price li {
    list-style: url('images/dimond.png');
    font-size: .9rem;
}

.xIcon {
    height: 16px;
    position: relative;
    top: 0;
    right: 0;
}

.xBtn {
    background: none;
    outline: none;
    border: transparent;
    cursor: pointer;
}

//contact form
.contact {
    grid-template-columns: 50% 50%;
}

.form-elements {
    background: linear-gradient( rgba(49, 49, 49, 0.37), rgba(17, 17, 17, 0.055));
    border-radius: 10px;
    color: $font-color;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 40%;
    padding: 25px;
    float: right;
    margin-right: 5%;
    position: relative;
    animation: slideUp 2s;
}

.form-elements h2 {
    @include general-font();
    text-align: center;
    font-size: 1.8rem;
}

.form-elements label {
    font-size: 1.1rem;
    padding: 12px;
    background: url('images/underline-long.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-weight: 300;
}

.form-elements input,
textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background: url('images/underline-long.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-weight: 300;
    resize: vertical;
    color: $font-color;
    text-shadow: $text-shadow;
    transition: ease-in-out .2s;
}

.form-elements button {
    background: url('images/underline.png');
    background-position: bottom;
    background-repeat: space;
    transition: ease-in-out, .2s;
    outline: none;
    border: transparent;
    text-align: center;
    width: 20%;
    margin-left: 40%;
}

.form-elements button:hover {
    color: #b4d5e9;
    margin-top: 2px;
    cursor: pointer;
}

.form-elements li {
    list-style: url('images/dimond.png');
    text-align: center;
}

.phone-email {
    background: linear-gradient( rgba(49, 49, 49, 0.37), rgba(17, 17, 17, 0.055));
    border-radius: 10px;
    width: 40%;
    margin-left: 5%;
    float: left;
    position: absolute;
    @include flex-center();
    flex-direction: column;
    animation: slideDown 2s;
}

.phone-email li {
    font-size: 14px;
}

.phone-email iframe {
    width: 60%;
    height: 40vh;
    margin: 10% 0 5% 0;
}

.phone-num {
    list-style: url('images/iphone-icon.png');
    transition: ease-in-out, .4s;
    margin-top: 10%;
}

.phone-num:hover {
    list-style: url('images/dimond.png');
}

.email-ad {
    list-style: url('images/email-icon.png');
    transition: ease-in-out, .4s;
}

.email-ad:hover {
    list-style: url('images/dimond.png');
}

//about
.about-container {
    @include flex-center();
    align-items: flex-start;
    justify-content: space-evenly;
    animation: priceListAnimation 3s;
}

.about-container h1 {
    @include general-font();
    margin-bottom: 20px;
    padding: 10px;
    background: url('images/underline-long.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    text-align: left;
    text-shadow: $text-shadow;
    color: rgb(255, 255, 255);
}

.about-container p {
    @include general-font();
    text-shadow: $text-shadow;
    word-wrap: break-word;
    text-transform: none;
    color: rgb(255, 255, 255);
}

.about-img-cn {
    height: 75vh;
}

.about-img-cartoon {
    height: 60vh;
}

.about-text {
    width: 50%;
}

//services
.services {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr 1fr;
    height: 75vh;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 0 5% 0 5%;
    animation: servicesAnimation 2s;
}

.services-content {
    @include flex-center();
    @include general-font();
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5% 0;
    border-bottom: 3px $font-color;
}

.services-content p {
    width: 60%;
    text-transform: none;
    color: rgb(255, 255, 255);
    padding: 1%;
    text-shadow: $text-shadow;
}

.services-content h2 {
    @include general-font();
    color: rgb(255, 255, 255);
    padding: 6% 0 0 0;
    background: url('images/underline-long.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow: $text-shadow;
}

.services-content-text {
    @include flex-center();
    flex-direction: column;
    height: 40vh;
    text-align: center;
}

.services h2 {
    grid-column: 1/3;
    grid-row: 1;
    margin-left: 10%;
    @include general-font();
    font-size: 1.9rem;
    text-shadow: $text-shadow;
    padding: 10px;
    background: url('images/underline-long.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    text-shadow: $text-shadow;
}

.html-css-logo {
    grid-column: 3/4;
    grid-row: 1;
    width: 100%;
}

.services p {
    grid-column: 1/3;
    grid-row: 2;
    width: 75%;
    margin: 20px 0 0 10%;
    text-align: left;
    @include general-font();
    text-transform: none;
    text-shadow: $text-shadow;
    color: rgb(255, 255, 255);
}

//footer
footer {
    @include flex-center();
    color: #98c1d994;
    font-size: .6rem;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: default;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer img {
    height: 16px;
    margin-left: 2%;
    margin-right: .5%;
    opacity: 90%;
}

footer a {
    margin-left: 2%;
    margin-right: .5%;
}

.mobile-footer {
    display: none;
    color: #98c1d994;
    font-size: .6rem;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: default;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.mobile-footer img {
    height: 16px;
    margin-left: 2%;
    margin-right: .5%;
    opacity: 90%;
}

//animations
@keyframes priceListAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes priceListAnimationX {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes servicesAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translate(40px, 0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, 40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, -40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .main-content {
        @include flex-center();
        flex-direction: column;
        height: 100%;
    }
    .main-content h1 {
        padding: 30px 20% 10px 20%;
        background-position: bottom;
        margin-left: 0;
    }
    .devices {
        width: 50%;
        padding: 5% 0;
    }
    .about-img-cn {
        height: 60vh;
    }
    .html-css-logo {
        grid-column: 3/4;
        grid-row: 1;
        width: 100%;
    }
    .services {
        grid-template-columns: 1fr 1fr 1.4fr;
        height: 100vh;
        padding: 10% 0 0 0;
    }
    .services h2 {
        margin-left: 8%;
        background-size: contain;
    }
    .services-content {
        padding: 0 0;
    }
    .contact {
        grid-template-columns: none;
    }
    .form-elements {
        background: transparent;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 0 10px;
        float: none;
        margin-right: 0;
        height: 70vh;
    }
    .form-elements button {
        width: 15%;
        margin-left: 0;
    }
    .phone-email {
        background: transparent;
        width: 100%;
        margin-left: 0;
        float: none;
        position: relative;
    }
    .form-elements label {
        padding: 12px 30%;
        background-position: bottom;
    }
    .form-elements input,
    textarea {
        padding: 10px 25%;
        background-position: bottom;
    }
    .price-chart {
        flex-direction: column;
    }
    .price {
        width: 90%;
    }
    footer {
        display: none;
    }
    .mobile-footer {
        @include flex-center();
    }
}

@media all and (min-width: 0px) and (max-width: 768px) {
    header {
        display: none;
    }
    .mobile-header {
        @include flex-center();
        flex-direction: column;
        // animation: servicesAnimation 2s;
    }
    .mobile-nav {
        display: none;
        width: 100%;
        animation: priceListAnimation 1.5s;
    }
    .mobile-nav-row-1 {
        @include flex-center();
        flex-direction: column;
        width: 50%;
    }
    .mobile-nav-row-2 {
        @include flex-center();
        flex-direction: column;
        width: 50%;
    }
    .mobile-header img {
        width: 100%;
        padding: 8px 8px;
    }
    .main-content {
        @include flex-center();
        flex-direction: column;
        height: 100%;
    }
    .main-content h1 {
        padding: 30px 20% 10px 20%;
        background-position: bottom;
        background-size: contain;
        margin-left: 0;
    }
    .devices {
        width: 80%;
        padding: 5% 0;
    }
    .main-content p {
        width: 100%;
        padding-bottom: 5%;
    }
    .about-img-cn {
        height: 40vh;
    }
    .about-container {
        margin: 20% 0;
        align-items: flex-end;
    }
    .about-container h1 {
        background-size: contain;
    }
    .services {
        position: relative;
        @include flex-center();
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0 2%;
    }
    .services-content {
        height: 100%;
    }
    .services-content p {
        width: 90%;
        text-transform: none;
        color: rgb(255, 255, 255);
        padding: 0;
        text-shadow: $text-shadow;
    }
    .services-content h2 {
        @include general-font();
        color: rgb(255, 255, 255);
        padding: 6% 0 0 0;
        background: url('images/underline-long.png');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        text-shadow: $text-shadow;
    }
    .services-content-text {
        @include flex-center();
        flex-direction: column;
        height: auto;
        margin: 10% 0;
        text-align: center;
    }
    .services h2 {
        grid-column: 1/3;
        grid-row: 1;
        margin-left: 10%;
        @include general-font();
        font-size: 1.9rem;
        text-shadow: $text-shadow;
        padding: 10px;
        background: url('images/underline-long.png');
        background-position: bottom left;
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
        text-shadow: $text-shadow;
    }
    .html-css-logo {
        width: 50%;
    }
    .services p {
        width: 100%;
        margin: 5% 0;
        text-align: center;
        @include general-font();
        text-transform: none;
        text-shadow: $text-shadow;
        color: rgb(255, 255, 255);
    }
    .services h2 {
        margin-left: 0;
        background-size: contain;
    }
    .services-content {
        padding: 0 0;
    }
    .contact {
        grid-template-columns: none;
    }
    .form-elements {
        background: transparent;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 0 10px;
        float: none;
        margin-right: 0;
        height: 70vh;
    }
    .form-elements button {
        width: 50%;
        margin-left: 0;
    }
    .phone-email {
        background: transparent;
        width: 100%;
        margin-left: 0;
        float: none;
        position: relative;
    }
    .form-elements label {
        width: 100%;
        background-position: bottom;
        background-size: contain;
    }
    .form-elements input,
    textarea {
        width: 100%;
        background-size: contain;
        background-position: bottom;
    }
    .price-chart {
        flex-direction: column;
    }
    .price {
        width: 90%;
    }
    footer {
        display: none;
    }
    .mobile-footer {
        @include flex-center();
        padding-top: 5%;
    }
    #menu-icon {
        display: flex;
        border: none;
        outline: none;
        background: transparent;
    }
}